@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>A propos</h2>
    <h3>GymLogic: Gestion de gym</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Par Gatien GNAKOU-EDJAMBO <a href="mailto:princegnakou@gmail.com">princegnakou@gmail.com</a></p>
        +22892101568
    </div>
</div>